.card{
    margin: 0rem;
    border: none;
}
.contact{
    padding: 1rem;
}
h2{
    text-align: center;
    color: rgb(0, 0, 0);

}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    text-align: center;
    text-decoration: none;
    color: rgb(48, 46, 46);
}
