.details{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    flex-wrap: wrap;
    flex-flow: row;
}
.image{
    max-width: 100%;
    height: auto;
    float: left;
    margin-left: auto;
}
.strong{
    font-size: 3.5rem;
}
.details_para{
    font-size: 2rem;
    margin: 1rem;
    margin-right: auto;
    overflow-wrap: break-word;
}
@media only screen and (max-width: 580px) {
    .details{
        max-width: 100%;
        height: auto;
        overflow: hidden;
        flex-wrap: wrap;
        flex-flow: row;
        padding: 1rem;
    }
    .image{
        max-width: 100%;
        height: auto;
        float: left;
        margin-left: auto;
    }
    .strong{
        font-size: 2rem;
    }
    .details_para{
        font-size: 1.8rem;
        margin: 2rem;
        margin-right: auto;
        overflow-wrap: break-word;
    }
}