.home{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: 2rem 2rem;
}
.home>div{
    border-bottom: 1px solid gray;
    padding-bottom: 3rem;
}
.home>Image{
    border-bottom: 1px solid gray;
    padding-bottom: 3rem;
}
.home_header{
    text-align: center;
    color: rgb(255, 104, 4);
    margin-top: 20px;
    font-size: 80px;
}
.home_card{
    text-align: center;
    font-size: 30px;
    box-shadow: 5px;
    text-shadow: 2px 2px 4px #928e8e;
    text-decoration: none;
    font-size: 50px;
}
.avat{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(0.9);
    margin: 2rem;
}
.avat:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(0.95);
}
.skills{
    max-width: 80px;
    margin: 2rem;
    flex-wrap: wrap;
}
.skill_head{
    font-size: 100px;
    color: green;
    flex-wrap: wrap;
    text-align: center;
}
@media only screen and (max-width: 480px) {
    /* This CSS will be applied only to phones and other small devices. */
    /* .home{
        background-color: #928e8e;

    } */
}