.home{
    /* background-color: rgb(32, 32, 32); */
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    /* background-image: linear-gradient(to bottom right,rgb(252, 248, 248),rgb(31, 0, 51),rgb(252, 248, 248),rgb(88, 72, 145),rgb(252, 248, 248),rgb(82, 24, 121)); */
}
.home>div{
    border-bottom: 1px solid gray;
    padding-bottom: 2rem;
}
.home>Image{
    border-bottom: 1px solid gray;
    padding-bottom: 3rem;
}
.home_header{
    text-align: center;
    color: rgba(10, 133, 16, 0.829);
    margin-top: 2rem;
    font-size: 5rem;
    overflow: hidden;
    overflow-wrap: break-word;
}
.home_card{
    text-align: center;
    box-shadow: 5px;
    /* text-shadow: 2px 2px 4px #928e8e; */
    text-decoration: none;
    overflow-wrap: break-word;
}
#intro{
    font-size: 4rem;
}
.avat{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(0.9);
    margin: 2rem;
    height: 300px;
    width: 300px;
}
.avat:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(0.95);
}
.skills{
    max-width: 90px;
    margin: 2rem;
    flex-wrap: wrap;
}
.skills:hover{
    max-width: 90px;
    margin: 2rem;
    flex-wrap: wrap;
    transform: scale(1.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill_head{
    font-size: 80px;
    color: green;
    flex-wrap: wrap;
    text-align: center;
    text-transform: uppercase;
}

.experience_header{
    text-transform: uppercase;
    font-size: 80px;
    color: rgb(0, 9, 128);
    text-align: center;
}
@media only screen and (max-width: 580px) {
    /* This CSS will be applied only to phones and other small devices. */
    .home{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        /* background-image: linear-gradient(to bottom right,rgb(7, 115, 119),rgb(252, 248, 248),rgb(97, 245, 208)); */
        /* background-image: linear-gradient(to bottom right,rgb(13, 13, 14),rgb(252, 248, 248),rgb(172, 167, 167),rgb(252, 248, 248),rgb(28, 28, 29)); */
    }
    .home>div{
        border-bottom: 1px solid gray;
        padding-bottom: 3rem;
    }
    .home>Image{
        border-bottom: 1px solid gray;
        padding-bottom: 3rem;
    }
    .home_header{
        text-align: center;
        color: rgb(255, 104, 4);
        margin-top: 2rem;
        font-size: 3rem;
        overflow: hidden;
        overflow-wrap: break-word;
    }
    .home_card{
        text-align: center;
        /* text-shadow: 2px 2px 4px #948282; */
        text-decoration: none;
        font-size: 30px;
        color: rgb(18, 19, 18);
        overflow-wrap: break-word;
    }
    #intro{
        font-size: 1.8rem;
    }
    .avat{
        box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 0.2), 0 6px 20px 0 rgba(10, 10, 10, 0.19);
        transform: scale(1);
        margin: 0.5rem;
        height: 200px;
        width: 200px;
    }
    .avat:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.05);
    }
    .skills{
        max-width: 50px;
        margin: 1rem;
        flex-wrap: wrap;
    }
    .skill_head{
        font-size: 3rem;
        color: green;
        flex-wrap: wrap;
        text-align: center;
    }
    .experience_header{
        text-transform: uppercase;
        font-size: 3rem;
        color: rgb(0, 9, 128);
        text-align: center;
    }

}