.items{
    margin:0rem;
    /* border-bottom: 2rem; */
    padding-inline-start: 1rem;
    border: 1px solid gray;
}
.hamburg{
    color: aliceblue;
}
.options{
    color: aliceblue;
    text-decoration: none;
}
.optionbutton{
    margin: 1px;
    flex-direction: row;
    flex-wrap: wrap;
}   