.work{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem;
    background-color: rgb(12, 12, 12);
    color: rgba(232, 234, 236, 0.945);
    justify-content: space-evenly;
    margin: 0; 
    /* Remove default margin */
}
.workitem{
    margin: 1.5rem;
}
.workitem:hover{
    transform: scale(1.05);
}
@media only screen and (max-width: 580px) {
    .work{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(12, 12, 12);
        color: rgba(232, 234, 236, 0.945);
    }
    .workitem{
        margin: -1rem;
        margin-bottom: 2rem;
    }
    .workitem:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }
}